"""
/***************************************************************************
$TemplateClass
A QGIS plugin
$TemplateDescription
                             -------------------
begin                : 2011-01-20 
copyright            : (C) 2011 by $TemplateAuthor
email                : $TemplateEmail 
 ***************************************************************************/

/***************************************************************************
 *                                                                         *
 *   This program is free software; you can redistribute it and/or modify  *
 *   it under the terms of the GNU General Public License as published by  *
 *   the Free Software Foundation; either version 2 of the License, or     *
 *   (at your option) any later version.                                   *
 *                                                                         *
 ***************************************************************************/
 This script initializes the plugin, making it known to QGIS.
"""
def name(): 
  return "$TemplateTitle" 
def description():
  return "$TemplateDescription"
def version(): 
  return "Version $TemplateVersion" 
def icon():
  return "icon.png"
def qgisMinimumVersion():
  return "$TemplateQgisVersion"
def classFactory(iface): 
  # load $TemplateClass class from file $TemplateClass
  from $templateclass import $TemplateClass 
  return $TemplateClass(iface)


